@import "tailwindcss";

@layer base {
  :root {
    color-scheme: light;
  }
  :root.dark {
    color-scheme: dark;
  }
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);

  --color-text: var(--color-text);
  --color-accent: var(--color-accent);

  --color-green: var(--color-green);
}
