:root {
  --color-primary: #808080; /* Light mode primary */
  --color-secondary: #33ff57; /* Light mode secondary */
}

.dark {
  --color-primary: #1a202c; /* Dark mode primary */
  --color-secondary: #33ff57; /* Dark mode secondary */
}
